* {
  margin: 0;
  padding: 0;
}

/* shared styles */

header,
main {
  background: #f7f7f7;
  padding: 1.25rem 8.8rem 3.75rem 8.8rem;
}
body {
  font-family: "Quicksand", serif;
}
.display-flex {
  display: flex;
}
.color-orange {
  color: #fea301;
}
.color-paste {
  color: #01acfd;
}
.color-blue {
  color: #5d58ef;
}
.color-purple {
  color: #8700ff;
}
.color-black {
  color: #111;
}
.color-gray {
  color: #808080;
}

/* navbar styels */

.nav-bar,
.nav-start {
  align-items: center;
}
.nav-bar {
  max-width: 1160px;
  justify-content: space-between;
  padding: 1.25rem;
}
.nav-start {
  gap: 1rem;
}

.nav-options li {
  list-style: none;
}
.nav-options a {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 30px;
}
.nav-icon {
  width: 3.8rem;
  height: 3.8rem;
}
.nav-title {
  color: #111;
  font-size: 2rem;
  font-weight: 700;
  line-height: 30px;
}
.nav-options {
  gap: 2rem;
}
.nav-btn {
  background: #fea301;
  width: 12.31rem;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: none;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 30px;
}
/* .banner-info{
    width: 640px;
} */
.banner-title {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 61px;
  margin-bottom: 1.5rem;
}
.banner-description {
  color: #111;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.banner-btn {
  width: 197px;
  padding: 10px;
  border-radius: 12px;
  background: #111;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.banner-container {
  max-width: 1160px;
  gap: 50px;
  padding-left: 2rem;
  align-items: center;
}
.curriculum-title {
  color: #000;
  text-align: center;
  font-size: 2.9rem;
  font-weight: 700;
  line-height: 57.5px;
  margin-bottom: 80px;
}
.standard-level {
  padding: 30px 53px;
  text-align: center;
}
.level-image {
  max-width: 136.763px;
  margin-bottom: 32px;
}
.level-title {
  color: #202020;
  text-align: center;
  font-size: 24.523px;
  font-weight: 700;
  line-height: 30.654px;
  margin-bottom: 32px;
}
.level-description {
  color: #808080;
  text-align: center;
  font-family: Raleway;
  font-size: 15.091px;
  font-weight: 500;
  line-height: 28.296px;
  margin-bottom: 32px;
}
.level-more {
  text-align: center;
  font-size: 15.091px;
  font-weight: 700;
  line-height: 28.296px;
  margin-bottom: 140px;
}
.curriculum {
  padding: 60px 0 60px 120px;
}
.special-symbol {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.box {
  background: #fea301;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.special-text {
  color: #fff;
  text-align: center;
  font-family: "Font Awesome 5 Free";
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 24px;
  padding: 0.7rem 1rem;
}

.our-stories {
  background-image: url("../assets/bg.png");
}
.stories-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
#stories-1 {
  grid-row: span 2;
}
.our-title {
  color: #000;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 57.5px;
  margin-bottom: 80px;
}
.stories1-image {
  max-width: 540px;
  border-radius: 16px 16px 0px 0px;
}
.stories1-title {
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 38.347px;
  max-width: 402px;
  padding: 40px;
}
.stories-description {
  color: #666;
  font-family: Raleway;
  font-size: 15.339px;
  font-weight: 500;
  line-height: 28.761px;
  max-width: 433px;
  padding: 40px;
}
.stories-date {
  max-width: 174.51px;
  padding: 14.38px 18.876px 15.339px 19.174px;
  text-align: center;
  border-radius: 47.934px;
  border: none;
  background: #3cd8e8;
  color: #fff;
  font-family: Raleway;
  font-size: 15.339px;
  font-weight: 500;
  line-height: 28.761px;
  margin-top: -50px;
  margin-left: 40px;
}
.stories-title {
  color: #000;
  font-size: 15.339px;
  font-weight: 700;
  line-height: 28.761px;
  max-width: 198.036px;
}

footer {
  background-color: #01acfd;
  padding: 123px 235px 174px 147px;
}
.img-title {
  display: flex;
  align-items: center;
}
.box1-title {
  color: #fff;
  font-size: 42.143px;
  font-weight: 700;
  line-height: 39.509px;
}
.box1-description {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  max-width: 399.02px;
}
.footer-container{
    justify-content: space-between;
}
.box2 li{
    list-style: none;
}
.box2 a{
    text-decoration: none;
}
/* responsive media query */
@media screen and (max-width: 576px) {
  .display-flex {
    flex-direction: column;
  }
  .nav-start {
    margin-bottom: 2rem;
  }
  .nav-mid {
    margin-bottom: 2rem;
  }
  .nav-options {
    gap: 1rem;
  }
  .banner-container {
    flex-direction: column-reverse;
  }
  main {
    padding: 0;
  }
}
